[submodule "contrib/blender-skills"]
	path = contrib/blender-skills
	url = git@github.com:kevinbadi/blender-skills.git
[submodule "contrib/infostyle-skill"]
	path = contrib/infostyle-skill
	url = https://github.com/artgas1/infostyle-skill
[submodule "contrib/claude-seo"]
	path = contrib/claude-seo
	url = https://github.com/AgriciDaniel/claude-seo
[submodule "contrib/caveman"]
	path = contrib/caveman
	url = https://github.com/JuliusBrussee/caveman
