[submodule "contrib/blender-skills"]
	path = contrib/blender-skills
	url = git@github.com:kevinbadi/blender-skills.git
[submodule "contrib/infostyle-skill"]
	path = contrib/infostyle-skill
	url = https://github.com/artgas1/infostyle-skill
[submodule "contrib/claude-seo"]
	path = contrib/claude-seo
	url = https://github.com/AgriciDaniel/claude-seo
[submodule "contrib/caveman"]
	path = contrib/caveman
	url = git@github.com:grigory51/caveman.git
[submodule "contrib/ast-index"]
	path = contrib/ast-index
	url = https://github.com/defendend/Claude-ast-index-search
[submodule "contrib/claude-mem"]
	path = contrib/claude-mem
	url = https://github.com/thedotmack/claude-mem
[submodule "contrib/lottie"]
	path = contrib/lottie
	url = https://github.com/diffusionstudio/lottie
